 
 #div1{
 width:60%;
 border:1px solid black;
}
 #parent{
    background-color:bisque;
    width:40%;
    font-size:30px;

 }
 h1{
    font-size: 1em;
 }
 h2{
    font-size: rem;

 }
 h3{
    font-size:1.5 rem;
 }
.parent1{
    height:700px;
    width:70vw;
    background-color:crimson;
   display:flex;
    align-items:center;
    justify-content:space-between;
 flex-wrap:wrap;
   
} 
.child1{
    height:20%;
    width:20%;
    background-color:maroon;
    border:5px solid black
}
.child2{
    height:20%;
    width:20%;
    background-color:rgb(10, 22, 130);
    border:5px solid black;
}
.child3{
    height:20%;
    width:20%;
    background-color:blueviolet;
    border:2px solid black;
}
.box{
    height:300px;
    width:80vw;
    border:5px solid black;
    background-color: crimson;;
}
@media (max-width:600px){
    .box{
        background-color:royalblue;
      border-radius:50%;
    }
    .child1{
        background-color:green;
    }
    .parent1{
        background-color:green;
    }
    #div1{
        background-color:brown;
    }
}






/* @media screen and (max-width:600px){
    #div{
        width:100%;
    }
} */