body{
    margin:0px;
}
#body-header{
    height:65vh;
    background-size:cover;
    background-position:center;
    opacity:0.8;
    background-attachment:fixed;
    background-image:url(https://imgs.search.brave.com/cFiiRZJVkePNdqRcQIkADkP82Q7hegonxgrzjHwM9Ko/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcx/LndhbGxzcGljLmNv/bS9wcmV2aWV3cy81/LzkvNS84LzMvMTM4/NTk1LzEzODU5NS1i/bGFja19mbGF0X3Nj/cmVlbl9jb21wdXRl/cl9tb25pdG9yX3dp/dGhfa2V5Ym9hcmRf/YW5kX21vdXNlLXg3/NTAuanBn)

   
}
#header-nav{
    
}
